/*Style CSS for Blog Page Index*/
 @import "post.css";
 @import "feature.css";

 .container{
  /*website limits*/
      display:grid;
      grid-template-columns:auto;
      grid-template-rows: 250px 3fr 10%;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd main main main main main main main"
      "ft ft ft ft ft ft ft ft";
      border:solid red;
      width:fit-content;
}

.header{
    /*blog header*/
    grid-area:hd;
    display:inline-block;
    padding-top: 24px;
    background-image: url("https://cdn.pixabay.com/photo/2018/11/03/21/42/sunflowers-3792914_1280.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    font-family: Georgia, serif;
    opacity: .80;
    font-style:italic;
    font-size: 2em;
    font-weight:bold;
    text-indent: 12%;
    color:rgb(255, 255, 255);
}

    #subhead{
      /*blog subhead*/
      color:rgb(252, 3, 219);
      text-indent: 13%;
      font-style: italic;
      font-weight:bold;
      font-size: 15px;
      background-color:rgb(242, 213, 106, 0.75); 
  }

.sidebar{
    /*blog sidebar*/
    grid-area:sd;
    display:grid;
    grid-template-rows:auto;
    grid-template-columns: auto;
  }

    .sbpost{
      /*sidebar sections*/
      display:flex;
      flex-direction:column;
      align-items:baseline;
      justify-content:left;
      flex-wrap: wrap;
      width:250px;
      height: fit-content;
      margin: 5px;
      border:dashed 2px black;
      opacity: .80;
      background-image:linear-gradient(150deg, rgb(252 3 219), rgb(236, 242, 243));
      margin:2px;
      padding:5px;
    }

    .sbhd{
      /*sidebar header*/
      font-style:italic;
      font-weight:bold;
      color:rgb(249, 232, 245);

  }

    .freepicture{
     width:200px;
     height:250px;
     object-position:50%;
     object-fit:contain;
  }

    
.main{
  /*blog main content*/
  grid-area:main;
  display:flex;
  flex-direction:row;
  align-items:baseline;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width:fit-content; 
 }

    .post{
      /*preview post*/
      border-style: solid double;
      border-width: 5px;
      max-width: 200px;
      min-width:200px;
      padding:4px;
      background-color:#f2d56abf;
      margin:10px;
      margin-left: 15px;
      box-shadow: 5px 5px 5px;
    }

    .posthd{
      /*preview post header*/
      font-weight: bold;
      font-size:large;
    }

.footer{
  /*blog footer*/
    grid-area:ft;
    text-align: center;
    width: 100%;
    height:fit-content;
    background-image:linear-gradient(105deg, rgba(252, 3, 219, 0.55) 29%, rgb(249, 252, 252) 96%);
    font-family: Georgia, serif; 
  }

  #copyright{
    text-align:center;
    font-size:15px;
    color:rgba(252, 3, 219);
}
